absl-py
aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
anaconda-client
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-lru
atomicwrites
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
cycler
dask
datashader
debugpy
decorator
defusedxml
dill
distributed
docutils
et-xmlfile
executing
fastjsonschema
filelock
flake8
flatbuffers
fonttools
frozendict
frozenlist
fsspec
gensim
gitdb
GitPython
greenlet
h5py
HeapDict
holoviews
httpcore
httpx
hvplot
hyperlink
idna
imageio
imbalanced-learn
importlib-metadata
incremental
inflection
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter_client
jupyter_core
kiwisolver
lazy-object-proxy
llvmlite
locket
lxml
lz4
Markdown
MarkupSafe
matplotlib
mccabe
mediapipe
mistune
mkl-fft
mkl-random
mkl-service
ml-dtypes
msgpack
multidict
multipledispatch
mypy
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numba
numexpr
numpy
numpydoc
openai
opencv-contrib-python
opencv-python
opt-einsum
overrides
packaging
pandas
pillow
plotly
pluggy
prompt-toolkit
protobuf
psutil
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
pygame
Pygments
PyJWT
pylint
pyparsing
PyQt5
PyQtWebEngine
pytest
python-dateutil
python-dotenv
PyYAML
requests
scikit-image
scikit-learn
scipy
seaborn
setuptools>=65.5.1
six
sniffio
soupsieve
SQLAlchemy
statsmodels
streamlit
tables
tabulate
tenacity
terminado
text-unidecode
threadpoolctl
tifffile
tldextract
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
websocket-client
Werkzeug
zipp
wheel
cython
